.container {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 600px;
  height: 370px;
  background-color: white;
  border-radius: 20px;
  padding: 25px;
}

.w-100 {
  width: 100%;
}

.generate__longitud {
  color: #6f86d6;
  font-weight: 600;
}

.generate__title {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
}

.generate__characters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 1.1rem;
}

.generate__check {
  display: flex;
  flex-direction: column;
}

.generate__cta {
  background-color: #6f86d6;
  color: white;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 5px;
  border: none;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep .mat-checkbox-background {
  background-color: #6f86d6 !important;
}
