<section class="generate container">
  <h1 class="generate__title">Generador de contraseña</h1>
  <mat-form-field class="generate__password w-100">
    <mat-label>CONTR4$EÑa!</mat-label>
    <input matInput type="text" />
    <mat-icon
      matSuffix
      mat-icon-button
      matTooltip="Copiar"
      aria-label="Copiar"
      (click)="copy()"
      [ngStyle]="{ cursor: 'pointer' }"
      >content_copy</mat-icon
    >
  </mat-form-field>

  <article class="generate__len w-100">
    <div class="generate__characters">
      <span>Longitud de carácter</span>
      <span class="generate__longitud">{{ valueSlider }}</span>
    </div>
    <mat-slider
      class="generate__slider w-100"
      [min]="min"
      [max]="max"
      [step]="step"
    >
      <input
        matSliderThumb
        [(ngModel)]="valueSlider"
      />
    </mat-slider>
  </article>

  <article class="generate__check w-100">
    <mat-checkbox>Incluye letras mayúsculas</mat-checkbox>
    <mat-checkbox>Incluye letras minúsculas</mat-checkbox>
    <mat-checkbox>Incluye números</mat-checkbox>
    <mat-checkbox>Incluye símbolos</mat-checkbox>
  </article>

  <mat-form-field class="generate__level w-100">
    <input
      matInput
      type="text"
      placeholder="Nivel de seguridad"
      disabled="true"
    />
    <mat-icon matSuffix>signal_cellular_alt</mat-icon>
  </mat-form-field>

  <button
    class="generate__cta w-100"
    mat-button
    [ngStyle]="{ cursor: 'pointer' }"
  >
    Generar contraseña
  </button>
</section>
