<section class="generate container">
  <h1 class="generate__title">Generador de contraseña</h1>
  <mat-form-field class="generate__password w-100" >
    <mat-label>CONTR4$EÑa!</mat-label>
    <input matInput type="text" disabled="true" [(ngModel)]="viewPassword" />
    <mat-icon
      matSuffix
      mat-icon-button
      title="Copiar"
      aria-label="Copiar"
      (click)="copy()"
      [ngStyle]="{ cursor: 'pointer' }"
      >content_copy</mat-icon
    >
  </mat-form-field>
  <article class="generate__len w-100">
    <div class="generate__characters">
      <span>Longitud de carácter</span>
      <span class="generate__longitud">{{ valueSlider }}</span>
    </div>
    <mat-slider
      class="generate__slider w-100"
      [max]="max"
      [min]="min"
      [step]="step"
      [(ngModel)]="valueSlider"
    >
      <input matSliderThumb />
    </mat-slider>
  </article>

  <article class="generate__check w-100">
    <mat-checkbox
      [(ngModel)]="isMayuscula"
      (ngModelChange)="validateState($event, type.mayus)"
      >Incluye letras mayúsculas</mat-checkbox
    >
    <mat-checkbox
      [(ngModel)]="isMinuscula"
      (ngModelChange)="validateState($event, type.minus)"
      >Incluye letras minúsculas</mat-checkbox
    >
    <mat-checkbox
      [(ngModel)]="isNumero"
      (ngModelChange)="validateState($event, type.numeros)"
      >Incluye números</mat-checkbox
    >
    <mat-checkbox
      [(ngModel)]="isSimbolo"
      (ngModelChange)="validateState($event, type.simbolos)"
      >Incluye símbolos</mat-checkbox
    >
  </article>

  <mat-form-field class="generate__level w-100">
    <input
      matInput
      type="text"
      placeholder="Nivel de seguridad"
      disabled="true"
    />
    <mat-icon matSuffix>signal_cellular_alt</mat-icon>
  </mat-form-field>

  <button
    class="generate__cta w-100"
    mat-button
    (click)="generatePassword()"
    [ngStyle]="{ cursor: 'pointer' }"
  >
    Generar contraseña
  </button>
</section>
